{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
 <main class="container-fluid" style="height: 700px">

        <div class="row">

            <div class="col-md-10" style="height: 50px">

                <h3 class="ps-4 fst-italic d-flex align-items-center h-100">Articles récents</h3>

                <div id="article-list">
                    {% include "article/list.html.twig" with { articles } %}
                </div>

            </div>



            <div class="col-md-2 bg-primary d-flex align-items-center justify-content-center flex-column" style="height: 700px">


                <div class="position-sticky text-white" style="top: 2rem">
                    {% include "widget/about.html.twig" %}
                    {% include "widget/categories.html.twig" %}
                </div>

            </div>

        </div>

    </main>
{% endblock %}
