<div class="p-4" >

    <h4 class="fst-italic">Category</h4>

    <ol class="list-unstyled mb-0">
    
        <li>
            <a href="#" class="text-decoration-none">Tuto Symfony</a>
        </li>
        <li>
            <a href="#" class="text-decoration-none">Tuto PHP</a>
        </li>

    </ol>
    
</div>